<h2>Vimeo Videos</h2>

<%= notice %>
<p><a href="/vimeo_videos/new">New Video</a></p>

<ul>
  <% @vimeo_videos.each do |video| %>
    <li>
      <%= link_to video.url, video %>
    </li>
  <% end %>
</ul>
