<h2>Add a Video</h2>

<form action="/videos/new" method="post">
  <p>
    <label for="url">URL of Video</label>
    <input type="text" id="url" name="url">
  </p>

  <p>
    <label for="description">Short Description</label>
    <textarea type="text" id="description" name="description"></textarea>
  </p>

  <p>
    <label for="rating">Rating</label>
    <input type="text" id="rating" name="rating">
  </p>
  <input type="submit" value="Create Video">

</form>
