form {
  font-size: 1.2em;
}

form label {
  float: left;
  width: 10em;
}

form textarea {
  height: 8em;
}

form input, form textarea {
  width: 25em;
  padding: .2em;
}

form input[type='text'] {
  width: 25em;
}

form input[type='submit'] {
  width: 10em;
}

form input.rating{
  width: 10em;
}
