/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

@import 'normalize';
@import '_form';

html {
  height: 100%;
}

body {
  background-color: aliceblue;
  height: 100%;
}

#body_container {
  min-height: 100%;
  position: relative;
}

header {
  background-color: steelblue;
  padding: 1em;
  margin: 0;
}

header section {
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1em;
}

header nav {
  float: right;
  margin-top: 2em;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

header h1 {
  color: #ffffff;
  float: left;
}

main {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;

}

main section#main {
  max-width: 980px;
  margin: 0 auto;
  padding: 1em;
  background-color: #ffffff;
  height: auto;
  padding-bottom: 6em;
  overflow: hidden;
}

main section#main h2 {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #333333;
  height: 5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer section {
  padding-top: 1em;
  padding-left: 1em;
  max-width: 980px;
  margin: 0 auto;
  color: #ffffff;
}

.media_container {
  float: left;
  margin-right: 5em;
}

.media_description {
  padding: 1em;
}

.picture_container a {
  float: left;
  margin: .5em;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

ul.errors {
  padding-left: 0;
  padding-bottom: 1em;
}

.errors li {
  list-style: none;
  color: darkred;
  margin-left: 0;
  padding: .2em 0;
}

.success {
  color: forestgreen;
}

.delete {
  background-color: red;
  border: 3px solid black;
  color: white;
  font-weight: bold;
  margin-top: 5em;
}

