<!DOCTYPE html>
<html>
<head>
  <title>BitterCherryCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <section>
    <h1>Media Manager</h1>
  </section>
</header>
<main>
  <section id="main">
    <%= yield %>
  </section>
</main>

</body>
</html>
